@font-face {
    font-family:'Jameel Noori Nastaleeq';
    src: url('../fonts/Jameel Noori Nastaleeq.eot');
    src: url('../fonts/Jameel Noori Nastaleeq.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jameel Noori Nastaleeq.woff2') format('woff2'),
        url('../fonts/Jameel Noori Nastaleeq.woff') format('woff'),
        url('../fonts/Jameel Noori Nastaleeq.svg#Jameel Noori Nastaleeq') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}


@font-face {
    font-family:'Pak Nastaleeq';
    src: url('Pak Nastaleeq.eot');
    src: url('Pak Nastaleeq.eot?#iefix') format('embedded-opentype'),
        url('Pak Nastaleeq.woff2') format('woff2'),
        url('Pak Nastaleeq.woff') format('woff'),
        url('Pak Nastaleeq.svg#Pak Nastaleeq') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00BB;
}

@font-face {
    font-family:'Noto Nastaliq Urdu';
    src: url('Noto Nastaliq Urdu.eot');
    src: url('Noto Nastaliq Urdu.eot?#iefix') format('embedded-opentype'),
        url('Noto Nastaliq Urdu.woff2') format('woff2'),
        url('Noto Nastaliq Urdu.woff') format('woff'),
        url('Noto Nastaliq Urdu.svg#Noto Nastaliq Urdu') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-200C;
}

@font-face {
    font-family:'Fajer Noori Nastalique';
    src: url('Fajer Noori Nastalique.eot');
    src: url('Fajer Noori Nastalique.eot?#iefix') format('embedded-opentype'),
        url('Fajer Noori Nastalique.woff2') format('woff2'),
        url('Fajer Noori Nastalique.woff') format('woff'),
        url('Fajer Noori Nastalique.svg#Fajer Noori Nastalique') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-007E;
}



@font-face {
    font-family:'DIN Medium';
    src: url('../fonts/DIN Medium.eot');
    src: url('../fonts/DIN Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DIN Medium.woff2') format('woff2'),
        url('../fonts/DIN Medium.woff') format('woff'),
        url('../fonts/DIN Medium.svg#DIN Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}


@font-face {
    font-family:'DIN Regular';
    src: url('../fonts/DIN.eot');
    src: url('../fonts/DIN.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DIN.woff2') format('woff2'),
        url('../fonts/DIN.woff') format('woff'),
        url('../fonts/DIN.svg#DIN') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'DIN Bold';
    src: url('../fonts/DIN-Bold.eot');
    src: url('../fonts/DIN-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DIN-Bold.woff2') format('woff2'),
        url('../fonts/DIN-Bold.woff') format('woff'),
        url('../fonts/DIN-Bold.svg#DIN-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0008-02DC;
}

@font-face {
    font-family:'DIN Light';
    src: url('../fonts/DIN-Light.eot');
    src: url('../fonts/DIN-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DIN-Light.woff2') format('woff2'),
        url('../fonts/DIN-Light.woff') format('woff'),
        url('../fonts/DIN-Light.svg#DIN-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}



@font-face {
    font-family:"Jameel-Noori-Nastaleeq";
        src:url("../fonts/Jameel-Noori-Nastaleeq.eot?")
        format("eot"), url("../fonts/Jameel-Noori-Nastaleeq.woff")
        format("woff"), url("../fonts/Jameel-Noori-Nastaleeq.ttf") 
        format("truetype"), url("../fonts/Jameel-Noori-Nastaleeq.svg#Oswald") format("svg");
    font-weight:normal;
    font-style:normal;
}
